* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Times New Roman',Times,serif;
  font-weight: 400
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth
}

/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 83, 83);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center
}

.section-heading {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin-bottom: 3rem;
  text-shadow: .2rem .2rem .5rem #555;
  text-align: center
}

.section-1 {
  max-width: 100%;
  height: auto;
  background: url(images/bg.png) no-repeat center;
  opacity: 90%;
  background-size: cover;
  flex-direction: column
}

.section-1-heading {
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  background-color: #e41c6f;
  padding: 0 3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: .3rem solid #fff;
  text-shadow: .2rem .2rem 1rem #555;
  transform: skew(-10deg)
}

.zoom,.zoom img {
  background-color: rgba(255,255,255,.7);
  overflow: hidden;
  border-radius: 50%
}

.zoom {
  width: 20.5em;
  height: 20.2em;
  border: .7rem dotted #e41c6f;
  padding: .5rem;
  margin: 16px auto
}

.zoom img:hover {
  transform: scale(1.2);
  backface-visibility: hidden;
}

.zoom img {
  width: 100%;
  margin: 0 auto
}

.service-heading {
  object-fit: cover;
  margin: 0 auto
}

#ct:hover,#dyn:hover,#ft:hover,#lb:hover{
  transform: scale(1.3);
  backface-visibility: hidden;
}

.service-heading:hover{
  transform: scale(1.3);
  backface-visibility: hidden;
}

#ct,#dyn,#ft,#lb{
  transition: transform 300ms linear;
}

.background-wrapper-center,.progress-bar,.projects-wrapper-center,.service-heading,.zoom img {
  transition: transform 300ms linear;
}

.background-wrapper-center:hover, .progress-bar:hover,.projects-wrapper-center:hover {
  transform: scale(1.07);
  backface-visibility: hidden;
}


#Foot-text {
  font-size: 2rem;
  color: #ffe1aa
}

.person-name {
  font-size: 3rem;
  color: #fff;
  background-color: #e41c6f;
  margin: 5rem 0;
  padding: .5rem 3rem;
  letter-spacing: .3rem;
  transform: skew(-10deg)
}

.section-1-btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: .3rem solid #333;
  padding: .5rem 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem
}

.navbar {
  background-color: #333;
  overflow: hidden;
  border-radius: 50px;
  z-index: 300
}

.sticky {
  position: fixed;
  top: 0
}

.navbar-link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: transform .4s
}

.change.navbar-link {
  color: #fff
}

.navbar-link:hover {
  background-color: #ddd;
  color: #000;
  transform: scale(1.13);
  backface-visibility: hidden;
}

.navbar .icon {
  display: none
}

.navbar-link.active {
  background-color: #04aa6d;
  color: #fff
}

@media screen and (max-width:600px) {
  .navbar a:not(:first-child) {
      display: none
  }

  .navbar a.icon {
      float: right;
      display: block
  }

  .navbar.responsive {
      position: relative
  }

  .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0
  }

  .navbar.responsive a {
      float: none;
      display: block;
      text-align: left
  }
}

.section-2 {
  width: 100%;
  height: 100%;
  padding: 1rem 0 10rem;
  background-color: rgb(254 255 221);
  display: flex;
  flex-direction: column;
  align-items: center
}

.progress-bars-wrapper {
  margin-bottom: 10rem
}

.progress-bar {
  width: 60rem;
  height: 3rem;
  background-color: #ccc;
  margin: 1.5rem 0;
  border-radius: 50px;
  box-shadow: .2rem .2rem 1rem #555;
  position: relative
}

.progress-text {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #fff
}

.progress-text span {
  margin: 0 .5rem;
  font-size: 1.8rem;
  font-weight: 700
}

.progress-percent {
  width: 0;
  height: 100%;
  background-color: #116eac;
  border-radius: 50px;
  transition: width .5s .5s ease-in-out
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

.service {
  text-align: center
}

.service:first-child,.service:last-child {
  align-self: flex-start
}

.service i {
  font-size: 10rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: .1rem .1rem .5rem #555
}

.service h2 {
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 25rem;
  letter-spacing: .3rem;
  transform: skew(-10deg);
  box-shadow: .2rem .2rem .5rem #555
}

.section-3 {
  width: 100%;
  height: 100%;
  padding: 2rem 77px;
  background: url(images/bg.png) center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center
}

.background-wrapper {
  width: 80%;
  flex-wrap: wrap
}

.background-wrapper-center {
  background-color: wheat;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  padding: 11px;
  margin: auto;
  width: 100%;
  box-shadow: -1px 8px 20px #0a0a0a
}

#pp {
  font-size: 2rem;
  text-align: justify
}

.section-p-heading {
  color: #000
}

#p-heading {
  color: rgba(0,0,0,.685)
}

.section-p {
  display: inline-block;
  background-color: #feffdd;
  padding: 29px
}

#img-asc,.projects,.section-p {
  width: 100%;
  height: auto
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  transition: box-shadow .5s;
  max-width: 400px
}

.a-p {
  text-align: center;
  font-size: 3em;
  display: block
}

.projects-wrapper-center {
  background-color: wheat;
  display: block;
  border-radius: 34px;
  margin: auto;
  max-width: 64%;
  box-shadow: 8px 9px 28px #000
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777
}

.project-text {
  text-align: center;
  letter-spacing: .1rem;
  position: absolute;
  top: -10rem;
  z-index: 10;
  transition: top .3s
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize
}

#img-asc {
  display: block;
  margin: auto
}

.section-4 {
  width: 100%;
  height: 70vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
}

.section-4-heading {
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 5rem
}

.contact-form {
  width: 50rem;
  flex-direction: column
}

.contact-form input,.contact-form textarea {
  width: 100%;
  padding: .5rem;
  margin: .5rem 0;
  background-color: #eef;
  font-size: 1.5rem;
  border: .2rem solid #e41c6f;
  color: #555;
  border-radius: 30px;
  text-align: center
}

.contact-form textarea {
  height: 10rem;
  max-height: 15rem;
  max-width: 100%
}

.contact-form .contact-form-btn {
  background-color: #e41c6f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer
}

.section-5 {
  width: 100%;
  height: 30vh;
  background-color: #222;
  flex-direction: column
}

.social-media {
  margin-bottom: 5rem
}

.social-media-link {
  margin: 0 2rem;
  padding: .7rem;
  background-color: #e41c6f;
  border-radius: .5rem;
  display: inline-block;
  transition: transform 300ms linear;
}

.social-media-link i {
  font-size: 3rem;
  color: #fff
}

.social-media-link:hover {
  transform: scale(1.3);
  backface-visibility: hidden;
  
}

.copyright {
  color: #aaa;
  font-size: 2rem;
  letter-spacing: .2rem;
  font-weight: 300;
  text-align: center
}

#about-me {
  color: rgba(0,0,0,.685)
}

@media (max-width:1200px) {
  .services {
      height: auto;
      flex-wrap: wrap
  }

  .service {
      margin: 3rem 2rem
  }

  .section-4 {
      height: 80vh
  }
}

@media (max-width:800px) {
  .section-1-heading {
      font-size: 4rem
  }

  .progress-bar {
      width: 50rem
  }
}

@media (max-width:600px) {
  .section-1-heading {
      font-size: 3rem
  }

  .navbar-link {
      margin: 0 2rem;
      font-size: 1.5rem
  }

  .section-2 {
      padding: 10rem
  }

  .section-2-heading {
      margin-bottom: 10rem;
      color: #000
  }

  .progress-bar {
      width: 45rem
  }

  .project-img {
      width: 100%
  }

  .contact-form {
      width: 40rem
  }

  .copyright {
      width: 70%
  }
}

@media (max-width:500px) {
  html {
      font-size: 55%
  }
}

@media (max-width:450px) {
  html {
      font-size: 45%
  }

  .section-1-heading {
      font-size: 2.5rem
  }

  .navbar-link {
      margin: 0 1.5rem
  }

  .section-2-heading {
      text-align: center
  }

  .progress-bar {
      width: 40rem
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 300;
  font-size: 2rem;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}